Text Cleaning

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
data = pd.read_csv('/content/twitter4000.csv')

In [ ]:
data

                                                 twitts  sentiment
0     is bored and wants to watch a movie  any sugge...          0
1              back in miami.  waiting to unboard ship           0
2     @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                     ughhh i am so tired  blahhhhhhhhh          0
4     @mandagoforth me bad! It's funny though. Zacha...          0
...                                                 ...        ...
3995                                  i just graduated           1
3996          Templating works; it all has to be done            1
3997                   mommy just brought me starbucks           1
3998  @omarepps watching you on a House re-run...lov...          1
3999  Thanks for trying to make me smile I'll make y...          1

[4000 rows x 2 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   twitts     4000 non-null   object
 1   sentiment  4000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 62.6+ KB

In [ ]:
data.count()

twitts       4000
sentiment    4000
dtype: int64

In [ ]:
data['sentiment'].value_counts()

sentiment
0    2000
1    2000
Name: count, dtype: int64

In [ ]:
data.head()

                                              twitts  sentiment
0  is bored and wants to watch a movie  any sugge...          0
1           back in miami.  waiting to unboard ship           0
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                  ughhh i am so tired  blahhhhhhhhh          0
4  @mandagoforth me bad! It's funny though. Zacha...          0

In [ ]:
pattern = r'\s'
data['twitts'].apply(lambda x: re.sub(pattern, '', x))

0             isboredandwantstowatchamovieanysuggestions?
1                        backinmiami.waitingtounboardship
2       @misskpeyawwwwdntdisbrngbakmemoriessss,IthnkI'...
3                             ughhhiamsotiredblahhhhhhhhh
4       @mandagoforthmebad!It'sfunnythough.ZacharyQuin...
                              ...
3995                                       ijustgraduated
3996                     Templatingworks;itallhastobedone
3997                          mommyjustbroughtmestarbucks
3998        @omareppswatchingyouonaHousere-run...lovinit.
3999    ThanksfortryingtomakemesmileI'llmakeyour18thsp...
Name: twitts, Length: 4000, dtype: object